*{
font-family: Helvetica;
}

.Answer{
  color: black;
  background-color: rgb(99, 185, 74);
  margin: 2px;
}

.Answer:hover{
  cursor:pointer;
  color: black;
  background-color: rgb(178, 184, 73);
}

li{
  list-style: none
}

#doc_container{
  min-height: 40rem;
  background-image: url("../images/background.png");
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#logo-img{
  width: 50px;
  height: auto;

}
.highcharts-background{
  opacity:0.10;
}
