*{
  background-color: whitesmoke;
}

.Answer{
  color: black;
  background-color: rgb(99, 185, 74);
  margin: 2px;
}

.Answer:hover{
  cursor:pointer;
  color: black;
  background-color: rgb(178, 184, 73);
}

li{
  list-style: none
}
